body {
	background: #eee;
}

#side_nav {
	background: #000;
	min-width: 200px;
	max-width: 200px;
}

.content {
	min-height: 100vh;
	width: 100%;
}

.image-space {
	min-height: 200px;
}

.scrollable-table {
	overflow-y: scroll;
	height: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.table {
	width: 200px;
}

a {
	color: #eee;
}
