{% extends "template.html" %}
<!--  -->
{% block content %}
<!-- make form for taking value for add brightness to the image and display the image -->
<h1 class="text-center bg-black text-white">Change the Brightness</h1>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<form action="/brightness" method="POST" enctype="multipart/form-data">
				<label for="file">Upload Image</label>
				<br />
				<div class="form-group d-grid">
					<input type="file" name="file" id="file" class="form-control" />
					<button type="submit" class="btn btn-primary">Upload</button>
				</div>
			</form>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="row py-4">
				<div class="col-md-6 px-5">
					<span class="d-flex justify-content-center">Before</span>
					<div class="image-space">
						{% if filename %}
						<img
							src="{{ url_for('display_brightness_image', filename=filename) }}"
							alt="image"
							class="img-fluid"
						/>
						{% endif %}
					</div>
				</div>
				<div class="col-md-6 px-5">
					<span class="d-flex justify-content-center">After</span>
					<div class="image-space">
						{% if brightness %}
						<img
							src="{{ url_for('display_brightness_image', filename=brightness) }}"
							alt="image"
							class="img-fluid"
						/>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- make form for choosing some integer to add the brightness -->
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<form
				action="/brightness/{{ filename }}"
				method="POST"
				enctype="multipart/form-data"
			>
				<br />

				<div class="form-group d-grid">
					<label for="operation">Operation</label>
					<select name="operation" id="operation" class="form-control">
						<option value="">-- Choose Operation --</option>
						<option value="add">Add</option>
						<option value="substract">Substract</option>
						<option value="multiply">Multiply</option>
						<option value="divide">Divide</option>
					</select>
					<label for="method">Method</label>
					<select name="method" id="method" class="form-control">
						<option value="">-- Choose Method --</option>
						<option value="manual">Manual</option>
						<option value="opencv">OpenCV</option>
					</select>
					<label for="file">Change Brightness</label>
					<input
						type="number"
						name="brightness"
						id="brightness"
						class="form-control"
						placeholder="Enter Value"
					/>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
