{% extends "template.html" %}
<!--  -->
{% block content %}
<h1 class="text-center bg-black text-white">Extract RGB from Image</h1>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<form action="/" method="POST" enctype="multipart/form-data">
				<label for="file">Upload Image</label>
				<br />
				<div class="form-group d-grid">
					<input type="file" name="file" id="file" class="form-control" />
					<button type="submit" class="btn btn-primary">Upload</button>
				</div>
			</form>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="row py-4">
				<div class="col-md-6 px-5">
					<span class="d-flex justify-content-center">Before</span>
					<div class="image-space">
						{% if filename %}
						<img
							src="{{ url_for('display_image', filename=filename) }}"
							alt="image"
							class="img-fluid"
						/>
						{% endif %}
					</div>
				</div>
				<div class="col-md-6 px-5">
					<span class="d-flex justify-content-center">After</span>
					<div class="image-space">
						{% if filename %}
						<img
							src="{{ url_for('display_image', filename=filename) }}"
							alt="image"
							class="img-fluid"
						/>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container py-3">
	<form
		class="d-flex justify-content-center"
		action="/get_rgb/{{ filename }}"
		method="post"
	>
		<input
			class="btn btn-primary text-white"
			type="submit"
			value="Get RGB value"
		/>
	</form>
	<div class="d-flex scrollable-table py-5">
		<table class="table table-striped table-hover table-responsive">
			<thead>
				<tr>
					<th>Red</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% if red %}
				<!--  -->
				{% for r in red %}
				<tr>
					<td>{{ r }}</td>
				</tr>
				{% endfor %}
				<!--  -->

				{% endif %}
			</tbody>
		</table>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Green</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% if green %}
				<!--  -->
				{% for g in green %}
				<tr>
					<td>{{ g }}</td>
				</tr>
				{% endfor %}
				<!--  -->

				{% endif %}
			</tbody>
		</table>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Blue</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% if blue %}
				<!--  -->
				{% for b in blue %}
				<tr>
					<td>{{ b }}</td>
				</tr>
				{% endfor %}
				<!--  -->

				{% endif %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
