<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/a076d05399.js"
			crossorigin="anonymous"
		></script>
		<!-- CSS only -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="{{ url_for('static',
		filename="css/style.css")}}">
		<title>PCD - Temmy Mahesa Ridwan</title>
	</head>
	<body>
		<div class="main-container d-flex">
			<div class="sidebar" id="side_nav">
				<div class="header-box px-2 pt-3 pb-4">
					<h1 class="fs-4">
						<span class="bg-white text-dark rounded shadow px-2 me-2">PCD</span
						><span class="text-white">PCD-GUI</span>
					</h1>
				</div>
				<ul class="list-unstyled">
					<li class="">
						<a href="#" class="text-decoration-none px-3 py-2 d-block"
							>Week 1</a
						>
						<ul class="list-unstyled px-5 pt-1 pb-1">
							<li>
								<a href="#" class="text-decoration-none px-3 py-2 d-block"
									>RGB</a
								>
							</li>
							<li>
								<a href="#" class="text-decoration-none px-3 py-2 d-block"
									>Grayscale</a
								>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="#" class="text-decoration-none px-3 py-2 d-block"
							>Week 2</a
						>
					</li>
					<li class="">
						<a href="#" class="text-decoration-none px-3 py-2 d-block"
							>Week 3</a
						>
					</li>
					<li class="">
						<a href="#" class="text-decoration-none px-3 py-2 d-block"
							>Week 4</a
						>
					</li>
					<li class="">
						<a href="#" class="text-decoration-none px-3 py-2 d-block"
							>Week 5</a
						>
					</li>
				</ul>
			</div>
			<div class="content">
				<h1 class="text-center bg-black text-white">Extract RGB from Image</h1>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-6">
							<form action="/" method="POST" enctype="multipart/form-data">
								<label for="file">Upload Image</label>
								<br />
								<div class="form-group d-grid">
									<input
										type="file"
										name="file"
										id="file"
										class="form-control"
									/>
									<button type="submit" class="btn btn-primary">Upload</button>
								</div>
							</form>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-6">
							<div class="row py-4">
								<div class="col-md-6 px-5">
									<span class="d-flex justify-content-center">Before</span>
									<div class="image-space">
										{% if filename %}
										<img
											src="{{ url_for('display_image', filename=filename) }}"
											alt="image"
											class="img-fluid"
										/>
										{% endif %}
									</div>
								</div>
								<div class="col-md-6 px-5">
									<span class="d-flex justify-content-center">After</span>
									<div class="image-space">
										{% if filename %}
										<img
											src="{{ url_for('display_image', filename=filename) }}"
											alt="image"
											class="img-fluid"
										/>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<form action="/get_rgb/{{ filename }}" method="post">
						<input
							class="btn btn-primary text-white"
							type="submit"
							value="Get RGB value"
						/>
					</form>
					<div class="d-flex scrollable-table">
						<table class="table table-striped table-hover table-responsive">
							<thead>
								<tr>
									<th>Red</th>
								</tr>
							</thead>
							<tbody class="table-group-divider">
								{% if red %}
								<!--  -->
								{% for r in red %}
								<tr>
									<td>{{ r }}</td>
								</tr>
								{% endfor %}
								<!--  -->

								{% endif %}
							</tbody>
						</table>
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>Green</th>
								</tr>
							</thead>
							<tbody class="table-group-divider">
								{% if green %}
								<!--  -->
								{% for g in green %}
								<tr>
									<td>{{ g }}</td>
								</tr>
								{% endfor %}
								<!--  -->

								{% endif %}
							</tbody>
						</table>
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>Blue</th>
								</tr>
							</thead>
							<tbody class="table-group-divider">
								{% if blue %}
								<!--  -->
								{% for b in blue %}
								<tr>
									<td>{{ b }}</td>
								</tr>
								{% endfor %}
								<!--  -->

								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
